*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    background: #000;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 40px;
}
ul li{
    display: inline-block;
    list-style: none;
}
ul li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    width: 40%;
    color: #fff;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
    transition: 0.5s;
}
.content .image img:hover{
    transform: scale(1.2) rotate(20deg);
    cursor: pointer;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}